:root{
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--Very-pale-blue);
    Font-size : 16px;
    

}

img{
    position: relative ;
}

.container{
    width: 300px;
    height: 497px;
    margin: 85px auto;
    background: #fff;
    border-radius: 16px;
    position: absolute;
    top: 1px;
    left: 37px;
}

.container_content_img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    
}

.container_section{
    text-align: center;
    margin: 25px 20px 0 20px;
}

.container_section_title{
    margin-bottom: 15px;
}

.container_section_paragraph{
    font-size: 0.96em;
    line-height: 23px;
    color: var(--Desaturated-blue);
}

.container_section_music{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 20px 0 20px 0;
    background-color: var(--Very-pale-blue);
    border-radius: 10px;
    gap: 15px;
}

.container_section_music_valor_title1{
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 5px;
}

.container_section_music_valor_paragraph1{
    font-size: 0.8em;
    color: var(--Desaturated-blue);
}

.container_section_music_header{
    width: 40px;
}

.container_section_music_link{
    font-size: 0.8em;
    margin-left: 30px;
}

.container_ultimo{
    text-align: center;
}

button{
    padding: 15px;
    width: 85%;
    color: var(--Very-pale-blue);
    background-color: var(--Bright-blue);
    font-weight: bold;
    border: none;
    border-radius: 16px;
    margin-bottom: 20px;
}

.container_ultimo_paragraph{
    font-size: 0.8em;
    color: var(--Desaturated-blue);
}